/build
/bin
/out
.project
/.settings
/.idea
/.gradle
.classpath
/output_dir
/log
*.drawio
*.dtmp
*.txt
src/test/resources/formatted_html
src/test/resources/error_html
src/test/resources/raw_html
src/test/resources/text_file
src/test/java/test/usddi/local